<div class="main">
    <div class="text">
        <p class="meetNew" style="color: #EF476F;">{{'meetPeople' | translate }}</p>
        <p class="findOut" style="color: #FFB30F;">{{'findLike' | translate }}</p>
        <p class="rateEach" style="color: #06D6A0;">{{'rateOther' | translate }}</p>
        <!-- <div class="badges">
            <div class="badge google" style="background-image:url('../../assets/badges/google.png')" ></div>
            <div class="badge apple" style="background-image:url('../../assets/badges/apple.svg')" ></div>
            
        </div> -->
        <div class="badges">
            <div class="badge google badge-right" style="background-image:url('../../assets/badges/google.png')" ></div>
            <div class="badge apple" style="background-image:url('../../assets/badges/apple.svg')" ></div>
        </div>
        <p id="soon">{{'comingSoon' | translate }}</p>
    </div>
    
    <div>
        <img class="show"  src="../../assets/images/show1.png">
        <img class="show"  src="../../assets/images/show2.png">
        <img class="show"  src="../../assets/images/show3.png">
    </div>
    <div class="diagonal-box">
        <div class="content">  
            <p>{{'howWorks' | translate }}</p>
            <div class="steps">
            <div class="step">
                <p>{{'download' | translate }}</p>
                <img style="max-height: 150px;" src="../../assets/images/download.png" >
            </div>
            <div class="step">
                <p>{{'register' | translate }}</p>
                <img style="max-height: 150px;" src="../../assets/images/login.png" >
            </div>
            <div class="step">
                <p>{{'findFriends' | translate }}</p>
                <img style="max-height: 150px;" src="../../assets/images/find.png" >
            </div>
            <div class="step">
                <p>{{'meetNew' | translate }}</p>
                <img style="max-height: 150px;" src="../../assets/images/meet.png" >
            </div>
        </div>
        </div>
    </div>
</div>

<div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="filter: grayscale(100%); background-image: url('https://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="filter: grayscale(100%); background-image: url('https://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="filter: grayscale(100%); background-image: url('https://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>